.zfelabel {
	font-size: normal;
}

.guidelines small {
	font-size: small;
	color: green;
}

.zfaces-form {
	border: 0px;
}

.zfaces {
	background-color:#F8F8F8; 
	border-radius: 12px;
	-moz-border-radius: 12px;	
}