#hideable {
	background-color: white;
}

/* image properties */

.imgright {
	float: right;
	padding: 6px 0px 6px 10px;
}

.imgleft {
	float:left;
	padding-right: 6px;
}

.imgleft-label {
}
	
img {
	border-width: 0px;
}


/* this image is used in details.php and browse.php, all other images should not have borders */
.borderimg {
	border-style: solid;
	border-color: #D6DDE6; /*verylightgrey*/
	border-width: 1px;
}

/* maintenance messages */
#mms {
	text-align: left;
	color: blue;
}

/* price format */
*.price {
	font-weight: bold;
	text-align: right;
}

/* new products */
.new {
	color: black;
	font-weight: bold;
	display: inline;
}

/* front page */
.frontpage {
	height: 185px;
}

.frontpage p,.frontpage h5 { /*	height: 50%;*/
	height: 1em;
}

/* tables of this class have no border */
table.borderless {
	border-collapse: collapse;
	border-style: hidden;
}

table.borderless th,table.borderless td {
	border: 0px;
	padding: 5px;
	border-style: hidden;
	vertical-align: top;
}

table.borderless caption,.captitle {
	font-size: 14px;
	font-weight: bold;
	color: #302F34; /*charcoal*/
	text-align: left;
	padding-top: 3px;
	padding-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
}

table.borderless td h5 {
	padding: 0px;
	margin: 0px;
}

/* a class that describes how tables should look */
.datatable {
	border: 1px solid #808080; /*darkgrey*/
	border-collapse: collapse;
	margin-left: auto;
	margin-right: auto;
	min-width: 100%;
}

.datatable td {
	border: 1px solid #808080; /*darkgrey*/
	padding: 4px;
	text-align: left;
	vertical-align: top;
}

.datatable th {
	font-weight: bold;
	/*remove-color: black;*/
	text-align: left;
	padding: 4px;
	border: 1px solid #808080; /*darkgrey*/
}

.datatable caption {
	font-size: 24px;
	font-weight: bold;
	text-align: left;
	padding-top: 3px;
	padding-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
}

.datatable input[type="text"],.datatable textarea {
	
}

.datatable tr.altrow td {
	background-color: #D6DDE6; /*verylightgrey*/
	color: black;
}

/* (?) popup properties */
a.info {
	position: relative; /*this is the key*/
	z-index: 24;
	color: black;*/
	text-decoration: none;
	font-size: 11px;
	font-weight: normal;
}

a.info:hover {
	z-index: 90;
}

a.info span {
	display: none
}

a.info:hover span { /*the span will display just on :hover state*/
	display: block;
	position: absolute;
	z-index: 90;
	top: 2em;
	left: 1em;
	width: 25em;
	border: 1px solid #C2C2C6; /*lightgrey*/
	background-color: #ccffff; /*lightblue*/
	color: black;
	text-align: left
}

.fpflag {
	position: relative;
	top: 29px;
	left: 12px;
	display: block;
}

.frontpage {
	width: 145px;
	height: 185px;
}

/* REQUIRED if using Artisteer templates*/
.art-PostHeaderIcon-wrapper {
	display: none;
}

.art-page-footer {
	display: none;
}

/* REQUIRED if using Zingiri Apps */

#zfaces input,.zfaces input {
	color: black;
}

div.faces ul,div#zfaces ul,ul#zfaces,ul.zfaces {
	list-style-type: none;
}

p.zfaces-form-label {
	font-size: 24px;
	font-weight: bold;
	color: #302F34; /*charcoal*/
	text-align: left;
	padding-top: 3px;
	padding-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
}

#zing-sidebar-cart ul {
	list-style-type: none;
}
#zing-sidebar-cart ul li {
	background-image: none;
}

/* dashboard divs */
div.dashboard {
	float:left;
	position:relative;
	margin-left:10px;
	margin-right:10px;
	width:45%;
	padding:10px;
}

/* dashboard tables */
table.dashboard {
	border: 1px solid;
	border-collapse: collapse;
}
table.dashboard td {
	border: 0px;
	padding: 4px;
	text-align: left;
    vertical-align: top;
}
table.dashboard th {
	font-weight: bold;
	text-align: left;
	padding: 4px;
    border: 1px solid;
}
table.dashboard caption {
	font-size: larger;
	font-weight: bold;
	text-align: center;
	padding-top: 3px;
	padding-bottom: 8px;
	margin-left: auto;
	margin-right: auto;
}

.wsfeatures {
	float:right;
	position:relative;
	margin:3px;
}

table.wsfeaturestable,table.wsfeaturestable tr,table.wsfeaturestable td {
	border:0px;
	border-collapse: collapse;
	border-style: hidden;
	
}

.wsfeatures select, .wsfeatures input {
	margin:0px;
}

#wslogin {
	float:left;
	position:relative;
	width:50%;
}
#wslogin p, #wslogin tr td, #wslogin table {
	padding:0px;
	margin:0px;
}
#wsnoregistration {
	margin-top:30px;
	position: relative; 
	float: right; 
	width: 30%; 
	text-align: left;
}
#wsregister {
	margin-top:30px;
	position:relative;
	float:right;
	width:30%;
	text-align:left;
}
#wsloginwelcome {
	padding-top:30px;
	clear:both;
}

.wsadminedit {
	float:right;
	text-align:left;
	margin-top:20px;
}

.wsadminedit a {
	display:inline;
}

.wsnew {
	color: red;
	font-weight: bold; 
	float:left;
	clear:left;
}

.wsbrowseimage {
	float: left;
	padding: 6px 10px 6px 0px;
}

.wsbrowsetitle {
	float:left;
	clear:right;
	max-width:70%;
	text-align:left;
	margin-top:10px;
}

.wsgridimage, .wsgridform {
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

td.col-total,td.col-price,td.col-discount,td.col-quantity {
	text-align:right;border-left:0px;border-right:0px;
}

td.col-desc {
	text-align:left;border-left:0px;border-right:0px;
}

table.wspayship {
	border:1px;
}

table.wsproducts {
	border:1px;
}

.wsproduct_details {
	border:1px solid;
	padding:10px;
	border-radius: 12px;
	-moz-border-radius: 12px;	
}